@import '../../../styles/global.scss';

.signup {
    width: 500px;
    margin: 0 auto;
    background-color: $DarkColor;
    padding: 30px;
    h1 {
        text-align: center;
        color: #ffffff;
    }
    form {
        input {
            width: calc(100% - 24px);
            padding: 12px;
            margin-top: 12px;
            margin-bottom: 12px;
            border: 1px solid $LightColor;
            border-radius: 4px;
        }
        label {
            color: #ffffff;
            font-size: 12px;
            transform: translate(5px, -4px);
            position: absolute;
            background-color: $DarkColor;
            display: block;
            border-radius: 15px;
            width: fit-content; 
            padding: 3px 5px;
            border: 1px solid #ffffff;
        }
        button {
            background-color: $SecondaryColor;
            border: 0;
            margin: 0;
            padding: 12px 20px;
            font-size: 20px;
            font-weight: 700;
            color: #fff;
        }
    }
    p {
        color: #ffffff;
        margin-top: 24px;
        a {
            color: $SecondaryColor;
            text-decoration: none;
            font-weight: 700;
        }
    }
}