@import '../../styles/global.scss';

.class-item {
    width: 940px;
    padding: 30px;
    margin: 20px auto;
    background-color: $LightColor;
    .class-top {
        display: flex;
        gap: 30px;
        align-items: end;
        .class-name {
            min-width: 300px;
            font-size: 32px;
            font-weight: 600;
            color: $DarkColor;
        }
        .class-teachers {
            font-size: 20px;
            color: $DarkColor;
            display: flex;
            align-items: end;   
            flex: 1;
            font-size: 24px;
            .teacher {
                background-color: #ffffff;
                border-radius: 20px;
                padding: 5px 10px;
                margin: 0 5px;
                position: relative;
                font-size: 15px;
                align-content: center;
                .delete-teacher {
                    background-color: #000000;
                    color: #ffffff;
                    position: absolute;
                    top: -5px;
                    right: 0px;
                    height: 10px;
                    width: 10px;
                    font-size: 8px;
                    padding: 3px;
                    border-radius: 50%;
                    text-align: center;
                    cursor: pointer;
                }
            }
            .open-close {
                margin-left: auto;
                margin-right: 0;
                background-color: #ffffff;
                border-radius: 20px;
                height: 40px;
                width: 40px;
                justify-content: center;
                align-items: center;
                display: flex;
                cursor: pointer;
            }
        }
        &.new-class {
            align-items: center;
            .input {
                flex: 1;
            }
        }
    }
    .class-students {
        width: 100%;
        position: relative;
        .students-add {
            width: 100%;
            position: relative;
            padding: 10px 0;
            display: flex;
            align-items: end;
            font-size: 24px;
            .open-close {
                margin-left: auto;
                margin-right: 0;
                padding: 5px;
                border: none;
                background-color: #ffffff;
                border-radius: 20px;
                height: 40px;
                width: 40px;
                justify-content: center;
                align-items: center;
                display: flex;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }      
        }
        .students-add-form {
            transition: all 0.3s ease-in-out;
            overflow: hidden;
            max-height: 0px;
            form {
                width: 100%;
                display: flex;
                gap: 10px;
                align-items: center;
                .input {
                    flex: 1;
                }
            }
            
        }
        .student {
            padding: 5px 10px;
            width: calc(100% - 20px);
            &.even {
                background-color: #C0C0C0;
            }
        }
        &.form-open {
            .students-add-form {
                max-height: 100px;
            }
            .open-close {
                transform: rotate(45deg);
            }
        }
    }
}
